<% include view/const/_const %>
<%
var id = "index";
var title = "";
var description = "sample text,sample tex";
var keywords = "word1,word2,word3";
var type = "blog";
%>
<% include view/metadata/_head %>

<!--start l-contents-->

    <!--start l-main-->
    <main class="l-main">
        <div class="l-index">
            <div class="hero">
                <div class="hero-wrapper">
                    <h1 class="hero-title">Hello world</h1>
                    <p class="hero-text">- description text -</p>
                </div>
            </div>
        </div>
    </main>
    <!--end l-main-->


</div>
<!--end l-contents-->

<% include view/metadata/_script %>